body {
    margin: 0;
    background-color: #FAF8E4
}
header {
    width: 100vw;
    height: 55vh;
    background-color: #0A97D9;
    justify-content: center;
    align-items: center;
    display: flex;
}
#logo_container {
    width: 45vw;
    height: 33vh;
    background-color: #017DBB;
    display: flex;
    flex-direction: row;
}
#logo {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
#image {
    width: 90%;
    height: 90%;
    background-image: url(../assets/Life_under_water_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
}
#header_text {
    width: 50%;
    
    font-family: 'Signika', sans-serif;
    color: #FBFDC4;
    font-weight: 500;
    font-size: 2.3em;
    display:flex;
    text-align: left;
}
hr {
    border: 2px solid #0A97D9;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Signika', sans-serif;
    font-size: 3em;
    
}
#intro  {
    width: 100vw;
    height:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}
#intro_title {
    width: 90%;
    height: auto;
}
#text {
    margin-top: 1%;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    white-space: wrap;
    overflow: visible;
    text-overflow: ellipsis;
}
#section_1 {
    width: 100vw;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 5%;
}
#sec_1_header {
    width: 90%;
    height: 300px;
    background-color: #0A97D9;
    text-align: center;
    font-size: 4.1em;
    font-weight: bold;
    display:flex;
    align-items: center;
    color: #FBFDC4;
}

#sec_1_img {
    width:30%;
    height: 300px;
    background-image: url(../assets/14.1.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    margin-left: 3%;
}

#sec1_video{
    width: 90%;
    height: 500px;
    display:flex;
    justify-content: center;
    margin-top: 3%;
}

#sec_2_img {
    width:30%;
    height: 300px;
    background-image: url(../assets/14.2.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    margin-left: 3%;
}
#sec_3_img {
    width:30%;
    height: 300px;
    background-image: url(../assets/14.3.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    display:flex;
    margin-left: 3%;
}

footer {
    width: 100%;
    height: 80vh;
    background-color: #0A97D9;
    display:flex;
    justify-content: center;
   
}

#foot{
    width: 100%;
    height: 100%;
    background-image: url(../assets/footer.png);
    background-repeat: no-repeat;
    
    background-size: cover;
}
